<meta charset="UTF-8">
<!--<main class="site-main">-->

<!--================ Hero banner start =================-->
<section class="hero-banner">
    <div class="container">
        <div class="row no-gutters align-items-center pt-60px">
            <div class="col-5 d-none d-sm-block">
                <div class="hero-banner__img">
                    <img class="img-fluid" src="/assets/img/home/Fullmetal Alchemist - Alphonse Elric.jpg" alt="">
                </div>
            </div>
            <div class="col-sm-7 col-lg-6 offset-lg-1 pl-4 pl-md-5 pl-lg-0">
                <div class="hero-banner__content">
                    <h4>No te lo pierdas</h4>
                    <h1>Tu lugar sagrado para el coleccionismo</h1>
                    <!-- Search form -->
                    <form class="form-inline" action="/search" method="POST">
                        <div class="input-group filter-bar-search">
                            <input type="text" placeholder="Buscar" name="key">
                            <div class="input-group-append">
                                <button type="button" onclick='this.form.submit();'>
                                    <i class="ti-search"></i>
                                </button>
                            </div>
                            <input type="hidden" name="_csrf" />
                            <!--value="{{token}}"-->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ Hero banner start =================-->

<!-- ================ Best Selling item  carousel ================= -->
<section class="related-product-area">
	<div class="container">
		<section class="section-margin calc-60px">
			<div class="container">
				<div class="section-intro pb-60px">
					<p>Descubre el coleccionismo</p>
					<h2>
						Nuestras <span class="section-intro__style">figuras</span>
					</h2>
				</div>
				<mat-tab-group>
					<div *ngFor="let product of products">
						<mat-tab label="{{product.name}}"><div class="card text-center card-product">
							<div class="card-product__img">
								<img class="img-fluid" src="/assets{{product.image}}" alt="" width="300"
									height="300">
								<ul class="card-product__imgOverlay">
									<li><button [routerLink]="['/singleProduct', product.id]">
											<mat-icon class="material-icons md-18 md-light">search</mat-icon>
										</button></li>
									<li><button>
											<mat-icon class="material-icons md-18 md-light" (click)="addProductToOrder(product,1)">add_shopping_cart
											</mat-icon>
										</button></li>
								</ul>
							</div>
							<div class="card-body">
								<p>{{product.franchise}}</p>
								<h4 class="card-product__title">
									<a [routerLink]="['/singleProduct', product.id]">{{product.name}}</a>
								</h4>
								<p class="card-product__price">{{product.price}}€</p>
							</div>
						</div></mat-tab>
					</div>
				</mat-tab-group>
			</div>
		</section>
	</div>
</section>
<!-- ================ Best Selling item  carousel end ================= -->

<!-- ================ Blog section start ================= -->
<section class="blog">
    <div class="container">
        <div class="section-intro pb-60px">
            <p>Entradas del blog</p>
            <h2>
                Últimas <span class="section-intro__style">Noticias</span>
            </h2>
        </div>
        <div class="row">
            <div *ngFor="let blog of blogs">
                <div class="card text-center card-blog">
                    <div class="card card-blog">
                        <div class="card-blog__img">
                            <img class="card-img rounded-0" src="assets{{blog.image}}" alt="">
                        </div>
                        <div class="card-body">
                            <ul class="card-blog__info">
                                <li><a href="#">Autor: {{blog.author}}</a></li>
                            </ul>
                            <h4 class="card-blog__title">
                                <a [routerLink]="['/singleBlog', blog.id]">{{blog.name}}</a>
                            </h4>
                            <p>{{blog.text}}</p>
                            <a class="card-blog__link" [routerLink]="['/singleBlog', blog.id]">Leer más <i
                                    class="ti-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================ Blog section end ================= -->
<!--</main>-->
