<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="category">
	<img src="/assets/banner/akatsuki.png"
		style="float: left; width: 100%; height: 100%; object-fit: cover; opacity: 0.3;">
	<div class="container h-100">
		<div class="blog-banner">
			<div class="text-center">
				<h1>Comprar por categor&iacute;as</h1>
				<nav aria-label="breadcrumb" class="banner-breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a>Inicio</a></li>
						<li class="breadcrumb-item active" aria-current="page">Comprar
							por categor&iacute;as</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
</section>
<!-- ================ end banner area ================= -->


<!-- ================ category section start ================= -->
<section class="section-margin--small mb-5">
	<div class="container">
		<div class="row">
			<div class="col-xl-3 col-lg-4 col-md-5">
				<div class="sidebar-categories">
					<div class="head">Explorar categor&iacute;as</div>
					<ul class="main-categories">
						<mat-radio-group class="example-radio-group" [(ngModel)]="franchise">
							<mat-radio-button class="example-radio-button" color="primary" value="Cualquiera">
								Cualquiera
							</mat-radio-button>
							<mat-radio-button class="example-radio-button" color="primary" *ngFor="let franchise of franchises" [value]="franchise">
								{{franchise}}
							</mat-radio-button>
						</mat-radio-group>
						<!--<mat-radio-group class="example-radio-group" [(ngModel)]="franchise">
							<mat-radio-button class="example-radio-button" color="primary" value="Cualquiera">
								Cualquiera
							</mat-radio-button>
							<mat-radio-button class="example-radio-button" color="primary" value="One Piece">
								One Piece
							</mat-radio-button>
							<mat-radio-button class="example-radio-button" color="primary" value="Attack on Titans">
								Attack on Titans
							</mat-radio-button>
							<mat-radio-button class="example-radio-button" color="primary" value="Naruto">
								Naruto
							</mat-radio-button>
							<mat-radio-button class="example-radio-button" color="primary" value="Predator">
								Predator
							</mat-radio-button>
						</mat-radio-group>-->
					</ul>
				</div>
				<div class="sidebar-filter">
					<div class="top-filter-head">Filtros de productos</div>
					<div class="common-filter">
						<div class="head">Distribuidores</div>
						<ul class="filter-pad">
							<mat-radio-group class="example-radio-group" [(ngModel)]="distributor">
								<mat-radio-button class="example-radio-button" color="primary" value="Cualquiera">
									Cualquiera
								</mat-radio-button>
								<mat-radio-button class="example-radio-button" color="primary" *ngFor="let distributor of distributors" [value]="distributor">
									{{distributor}}
								</mat-radio-button>
							</mat-radio-group>
							<!--<mat-radio-group class="example-radio-group" [(ngModel)]="distributor">
								<mat-radio-button class="example-radio-button" color="primary" value="Cualquiera">
									Cualquiera
								</mat-radio-button>
								<mat-radio-button class="example-radio-button" color="primary" value="Figuarts ZERO">
									Figuarts ZERO
								</mat-radio-button>
								<mat-radio-button class="example-radio-button" color="primary" value="Banpresto">
									Banpresto
								</mat-radio-button>
								<mat-radio-button class="example-radio-button" color="primary" value="Funko Pop!">
									Funko Pop!
								</mat-radio-button>
								<mat-radio-button class="example-radio-button" color="primary" value="Tsume">
									Tsume
								</mat-radio-button>
							</mat-radio-group>-->
						</ul>
					</div>
					<div class="common-filter">
						<div class="head">Tama&ntilde;o</div>
						<div class="filter-list w-50">Ancho
							<input matInput class="form-control" type="number" [(ngModel)]="height">
						</div>
						<div class="filter-list w-50">Alto
							<input matInput class="form-control" type="number" [(ngModel)]="width">
						</div>
					</div>
					<div class="common-filter">
						<div class="head">Precio</div>
						<ul>
							<mat-slider thumbLabel [displayWith]="formatLabel" tickInterval="500" min="1" max="3000"
								color="primary" [tickInterval]="getSliderTickInterval()" [(ngModel)]="value">
							</mat-slider>
						</ul>
						<div class="filter-list w-50">Min<input matInput type="number" class="form-control"
								[(ngModel)]="min" /></div>
						<div class="filter-list w-50">Max<input matInput type="number" class="form-control"
								[(ngModel)]="value" /></div>
					</div>
					<div class="common-filter">
						<div class="head">Búsqueda</div>
						<div class="filter-list"><button mat-button (click)="filter()"
								class="add-product">Aplicar</button>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-9 col-lg-8 col-md-7">
				<!-- Start Filter Bar -->
				<div class="filter-bar d-flex flex-wrap align-items-center">
					<button mat-flat-button [matMenuTriggerFor]="menu" class="sorting dropdown">Orden predeterminado
						<mat-icon class="material-icons md-18 padding-dropdown md-grey">expand_more</mat-icon>
					</button>
					<mat-menu #menu="matMenu">
						<button mat-menu-item (click)="sortBy('sort','desc')">Precio mayor a menor</button>
						<button mat-menu-item (click)="sortBy('sort','asc')">Precio menor a mayor</button>
					</mat-menu>
					<div class="sorting mr-auto">
						<div *ngIf="loginService.isAdmin">
							<button mat-button class="add-product">Añadir producto</button>

							<!--<button class="add-product" data-toggle="modal" data-target="#exampleModal">A&ntilde;adir
								+</button>

							<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog"
								aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabel">Nuevo
												producto</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">

											<form id="newProduct" action="addProduct" method="post"
												enctype="multipart/form-data">
												<div class="form-group">
													<label class="col-form-label">Nombre:</label> <input type="text"
														class="form-control" name="name" required #nameFormComponent
														#nameFormControl="ngModel"
														[(ngModel)]="nameFormComponent.value">
													<div class="form-row mb-4">
														<div class="col">
															<label class="col-form-label">Franquicia:</label> <input
																type="text" class="form-control" name="franchise"
																required #franchiseFormComponent
																#franchiseFormControl="ngModel"
																[(ngModel)]="franchiseFormComponent.value">
														</div>
														<div class="col">
															<label class="col-form-label">Precio:</label> <input
																type="text" class="form-control" name="price" required
																#priceFormComponent #priceFormControl="ngModel"
																[(ngModel)]="priceFormComponent.value"><br>
														</div>
														<div class="col">
															<label class="col-form-label">Stock:</label> <input
																type="text" class="form-control" name="stock" required
																#stockFormComponent #stockFormControl="ngModel"
																[(ngModel)]="stockFormComponent.value"><br>
														</div>
													</div>
													<label class="col-form-label">Descripci&oacute;n:</label>
													<textarea class="form-control" name="description" required
														#descriptionFormComponent #descriptionFormControl="ngModel"
														[(ngModel)]="descriptionFormComponent.value"></textarea>
													<div class="form-row mb-4">
														<div class="col">
															<label class="col-form-label">Anchura:</label> <input
																type="number" class="form-control" name="width" required
																#widthFormComponent #widthFormControl="ngModel"
																[(ngModel)]="widthFormComponent.value">
														</div>
														<div class="col">
															<label class="col-form-label">Altura:</label> <input
																type="number" class="form-control" name="height"
																required #heightFormComponent
																#heightFormControl="ngModel"
																[(ngModel)]="heightFormComponent.value">
														</div>
														<div class="col">
															<label class="col-form-label">Peso:</label> <input
																type="number" class="form-control" name="weight"
																required #weightFormComponent
																#weightFormControl="ngModel"
																[(ngModel)]="weightFormComponent.value">
														</div>
													</div>
													<div class="form-row mb-4">
														<div class="col">
															<label class="col-form-label">Distribuidor:</label> <input
																type="text" class="form-control" name="distributor"
																required #distributorFormComponent
																#distributorFormControl="ngModel"
																[(ngModel)]="distributorFormComponent.value">
														</div>
														<div class="col">
															<label class="col-form-label">Referencia:</label> <input
																type="text" class="form-control" name="reference"
																required #referenceFormComponent
																#referenceFormControl="ngModel"
																[(ngModel)]="referenceFormComponent.value">
														</div>
													</div>
													<div class="form-row mb-4">
									            	<div class="col">
									            		<label class="col-form-label">Imagen:</label>
									            		<input type="file" name='imageFile' value="" accept=".jpg, jpeg">
									            	</div>
									            </div>
												</div>
												<div class="modal-footer">
													<button type="button" class="close-submit-product"
														data-dismiss="modal">Cerrar</button>
													<button type="submit" class="submit-product" form="newProduct"
														(click)="saveProduct()">Enviar</button>
												</div>
											</form>
										</div>

									</div>
								</div>
							</div>-->
						</div>
					</div>
					<div>
						<div class="input-group filter-bar-search">
							<input #key #keyControl="ngModel" type="text" [(ngModel)]="key.value" placeholder="Buscar"
								(keydown.enter)="search(key.value)">
							<div class="input-group-append">
								<button type="button" (click)="search(key.value)">
									<mat-icon class="material-icons md-18 padding md-grey">search</mat-icon>
								</button>
							</div>
						</div>
					</div>
					<div></div>
				</div>
				<!-- End Filter Bar -->
				<!-- Start Best Seller -->
				<section class="lattest-product-area pb-40 category-list">
					<div class="row">
						<div *ngFor="let product of products" class="col-md-6 col-lg-4" id="products">
							<div class="card text-center card-product">
								<div class="card-product__img">
									<img *ngIf="product.image" class="card-img" src="/assets/{{product.image}}">
									<ul class="card-product__imgOverlay">
										<li>
											<button [routerLink]="['/singleProduct', product.id]">
												<mat-icon class="material-icons md-18 md-light">search</mat-icon>
											</button>
										</li>
										<li>
											<button id="add">
												<mat-icon class="material-icons md-18 md-light">add_shopping_cart
												</mat-icon>
											</button>
											<input type="hidden" name="qt" id="qt" value=1 />
										</li>
									</ul>
									<div *ngIf="loginService.isAdmin">
										<ul class="card-product-remove__imgOverlay">
											<li>
												<button (click)="delete(product)">
													<mat-icon class="material-icons md-18 md-light">delete_forever
													</mat-icon>
												</button>
											</li>
										</ul>
									</div>
								</div>
								<div class="card-body">
									<p>{{product.franchise}}</p>
									<h4 class="card-product__title">
										<a [routerLink]="['/singleProduct', product.id]">{{product.name}}</a>
									</h4>
									<p class="card-product__price">{{product.price}}&euro;</p>
								</div>
							</div>
						</div>
					</div>
				</section>

			</div>
		</div>
	</div>
</section>


<section class="related-product-area">
	<div class="container">
		<section class="section-margin calc-60px">
			<div class="container">
				<div class="section-intro pb-60px">
					<p>Figuras populares de la tienda</p>
					<h2>
						Figuras <span class="section-intro__style">recomendadas</span>
					</h2>
				</div>
				<div class="scrollmenu" id="bestSellerCarousel">
					<ul id="navlist">
						<div *ngFor="let product of recommendedProducts">
							<li>
								<div class="card text-center card-product">
									<div class="card-product__img">
											<img class="img-fluid" src="/assets/{{product.image}}" alt="" width="300"
											height="300">
										<ul class="card-product__imgOverlay">
											<li><button [routerLink]="['/singleProduct', product.id]">
													<mat-icon class="material-icons md-18 md-light">search</mat-icon>
												</button></li>
											<li><button>
													<mat-icon class="material-icons md-18 md-light">add_shopping_cart
													</mat-icon>
												</button></li>
										</ul>

									</div>
									<div>
										<a>{{product.name}}, </a>
										<p>{{product.franchise}}, </p>
										<p class="card-product__price">{{product.price}}€</p>
									</div>
								</div>
							</li>
							
						<!--<div class="card text-center card-product">
								<div class="card-product__img">
									<img class="img-fluid" src="/assets/{{product.image}}" alt="" width="300"
										height="300">
									<ul class="card-product__imgOverlay">
										<li><button [routerLink]="['/singleProduct', product.id]">
												<mat-icon class="material-icons md-18 md-light">search</mat-icon>
											</button></li>
										<li><button>
												<mat-icon class="material-icons md-18 md-light">add_shopping_cart
												</mat-icon>
											</button></li>
									</ul>
								</div>
								<div class="card-body">
									<p>{{product.franchise}}</p>
									<h4 class="card-product__title">
										<a>{{product.name}}</a>
									</h4>
									<p class="card-product__price">{{product.price}}€</p>
								</div>
							</div> -->
						</div>
					</ul>
				</div>
			</div>
			<ul id="navlist">
				<li>
					<div>...</div>
				</li>
				<li>
					<div>...</div>
				</li>
				<li>
					<div>...</div>
				</li>
			</ul>
		</section>
	</div>
</section>