<script>
window.onload = function () {

	var chart = new CanvasJS.Chart("chartContainer", {
		animationEnabled: true,
		title:{
			text: "Ventas",
			fontFamily: "arial black",
			fontColor: "#695A42"
		},
		axisX: {
			interval: 1,
		},
		axisY:{
			valueFormatString:"0",
			gridColor: "#B6B1A8",
			tickColor: "#B6B1A8"
		},
		toolTip: {
			shared: true,
			content: toolTipContent
		},
		{{#products}}
		data: [{
			type: "stackedColumn",
			showInLegend: false,
			color: "#000080",
			name: "Top ventas",
			dataPoints: [
				{ y: {{stock}}, x: {{name}} }
			]
			}
			
		]
		{{/products}}
	});
	chart.render();

	function toolTipContent(e) {
		var str = "";
		var total = 0;
		var str2, str3;
		{{#products}}
		//for (var i = 0; i < e.entries.length; i++){
			var  str1 = str1.push("{{image}}"); //"<span style= \"color:"+e.entries[i].dataSeries.color + "\"> "+e.entries[i].dataSeries.name+"</span>: $<strong>"+e.entries[i].dataPoint.y+"</strong>bn<br/>";
			//total = e.entries[i].dataPoint.y + total;
			str = str.concat(str1);
		//}
		str2 = "<span style = \"color:DodgerBlue;\"><strong>"+ str2.push("{{name}}")+"</strong></span><br/>";//(e.entries[0].dataPoint.x).getFullYear()+"</strong></span><br/>";
		str3 = "<span style = \"color:Tomato\">Total:</span><strong> $"+str3.push("{{price}})"+"</strong>bn<br/>";
		{{/products}}
		return (str2.concat(str)).concat(str3);
	}

	}
</script>