{{>header}}
<meta charset="UTF-8">
    <!-- ================ Start error area ================= -->
    <section class="blog-banner-area" id="error">
        <div class="container h-100">
            <div class="blog-banner">
                <div class="text-center">
                    <h2 class="error-margin">Error 404</h2>
                    <nav aria-label="breadcrumb" class="banner-breadcrumb">
                        <h5>Woops.. Something went wrong.</h5>
                        <h6>Refresh the page using F5 or contact with our customer support.</h6>
                        <img src="img/error/amumu.gif" alt="animated">
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ End error area ================= -->


{{>footer}}