<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Anime Shop - Inicio</title>
  <link rel="icon" href="img/Fevicon.png" type="image/png">
  <link rel="stylesheet" href="/vendors/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/vendors/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/vendors/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="/vendors/themify-icons/themify-icons.css">
	<link rel="stylesheet" href="/vendors/linericon/style.css">
  <link rel="stylesheet" href="/vendors/owl-carousel/owl.theme.default.min.css">
  <link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css">
  <link rel="stylesheet" href="/vendors/nice-select/nice-select.css">
  <link rel="stylesheet" href="/vendors/nouislider/nouislider.min.css">

  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <!--================ Start Header Menu Area =================-->
	<header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand logo_h" href="/"><img src="/img/shop-logo.png" alt=""></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
              <li class="nav-item active"><a class="nav-link" href="/">Inicio</a></li>
              <li class="nav-item submenu dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">Comprar</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="nav-link" href="/products">Categorias</a></li>
                  <li class="nav-item"><a class="nav-link" href="singleProduct">Detalles del producto</a></li>
                  <li class="nav-item"><a class="nav-link" href="checkout">Checkout</a></li>
                  <li class="nav-item"><a class="nav-link" href="confirmation">Confirmación</a></li>
                  <li class="nav-item"><a class="nav-link" href="cart">Cesta</a></li>
                </ul>
							</li>
              <li class="nav-item submenu dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">Blog</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="nav-link" href="blogspage">Blog</a></li>
                  <li class="nav-item"><a class="nav-link" href="singleBlog">Detalles del Blog</a></li>
                </ul>
							</li>
							<li class="nav-item submenu dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">Usuarios</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="nav-link" href="/login">Iniciar sesión</a></li>
                  {{#logged}}
                  <form action="/logout" method="get">
                    <li class="nav-item"><a class="nav-link" href="/">Cerrar sesión</a></li>
                  </form>
    		      {{/logged}}
                  <li class="nav-item"><a class="nav-link" href="/register">Registrarse</a></li>
                  <li class="nav-item"><a class="nav-link" href="trackingOrder">Seguimiento</a></li>
                  <li class="nav-item"><a class="nav-link" href="/userPage">Mi perfil</a></li>
                </ul>
              </li>
              <li class="nav-item"><a class="nav-link" href="contact">Contacto</a></li>
            </ul>

            <ul class="nav-shop">
              <li class="nav-item"><button><i class="ti-search"></i></button></li>
              <li class="nav-item"><button onclick="location.href='cart'"><i class="ti-shopping-cart"></i><span class="nav-shop__circle">3</span></button> </li>
              <li class="nav-item"><a class="button button-header" href="category">Comprar ahora</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
	<!--================ End Header Menu Area =================-->