{{>header}}
  <!-- ================ start banner area ================= -->	
	<section class="blog-banner-area" id="category">
		<img src="img/banner/sao.png" style="float:left;width:100%;height:100%;object-fit:cover;opacity: 0.3;">
		<div class="container h-100">
			<div class="blog-banner">
				<div class="text-center">
					<h1>Login / Registro</h1>
					<nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Inicio</a></li>
              <li class="breadcrumb-item active" aria-current="page">Login/Registro</li>
            </ol>
          </nav>
				</div>
			</div>
    </div>
	</section>
	<!-- ================ end banner area ================= -->
  
  <!--================Login Box Area =================-->
	<section class="login_box_area section-margin">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<div class="hover">
							<h4>¿Eres nuevo?</h4>
							<p>Tenemos un montón de figuritas y accesorios exclusivos que podrían interesarte</p>
							<a class="button button-account" href="/register">Crear una cuenta</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>Inicia sesión para acceder</h3>
						<!--<form name="form" onsubmit="return validatePass()" action="/login" method="POST">
				<div class="form-group">
					<label for="usernameInput">Nombre de usuario</label>
					<input type="text" class="form-control" id="usernameInput" aria-describedby="usernameHelp" name="username"
					 placeholder="Introduzca su nombre de usuario" required>
				</div>
				<div class="form-group">
					<label for="passwordInput">Contraseña</label>
					<input type="password" class="form-control" id="passwordInput" name="password" placeholder="Introduzca su contraseña">
				</div>
				<button type="submit" class="btn btn-primary">Comenzar</button>
				<input type="hidden" name="_csrf" value="{{token}}"/>
				<a class="btn btn-primary" href="/register">Registrarse</a>
			</form>-->
						<form class="row login_form" action="/login" id="contactForm" method="POST" >
							<div class="col-md-12 form-group">
								<input type="text" class="form-control" id="name" name="name" placeholder="Usuario" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Usuario'">
							</div>
							<div class="col-md-12 form-group">
								<input type="password" class="form-control" id="passwordInput" name="password" placeholder="Contraseña" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Contraseña'">
							</div>
							<div class="col-md-12 form-group">
								<div class="creat_account">
									<input type="checkbox" id="f-option2" name="selector">
									<label for="f-option2">Mantener sesión</label>
								</div>
							</div>
							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="button button-login w-100">Iniciar sesión</button>
								<input type="hidden" name="_csrf" value="{{token}}">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->
{{>footer}}