{{>header}}
<meta charset="UTF-8">
	<!-- ================ start banner area ================= -->	
	<section class="blog-banner-area" id="blog">
		<div class="container h-100">
			<div class="blog-banner">
				<div class="text-center">
					<h1>Detalles del post</h1>
					<nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Detalles del post</li>
            </ol>
          </nav>
				</div>
			</div>
    </div>
	</section>
	<!-- ================ end banner area ================= -->



  <!--================Blog Area =================-->
  {{#blog}}
	<section class="blog_area single-post-area py-80px section-margin--small">
			<div class="container">
					<div class="row">
							<div class="col-lg-8 posts-list">
									<div class="single-post row">
											<div class="col-lg-12">
													<div class="feature-img">
															<img class="img-fluid" src="{{image}}" alt="">
													</div>
											</div>
											<div class="col-lg-3  col-md-3">
													<div class="blog_info text-right">
															<div class="post_tag">
																	<a>Noticas,</a>
																	<a class="active" href="category.html">Funko Pop!</a>
																	<a href="#">Nueva figura</a>
															</div>
															<ul class="blog_meta list">
																	<li>
																			<a>{{author}}
																					<i class="lnr lnr-user"></i>
																			</a>
																	</li>
																	<li>
																			<a>{{day}}/{{month}}/{{year}}
																					<i class="lnr lnr-calendar-full"></i>
																			</a>
																	</li>
																	<!-- <li>
																			<a>1.2M Visitas
																					<i class="lnr lnr-eye"></i>
																			</a>
																	</li>
																
																	<li>
																		<a>06 Comentarios
																				<i class="lnr lnr-bubble"></i>
																		</a>
																	</li>-->
																	<li>
																		<form>
                                      										<button class="remove-blog-entrie"  onclick="location.href='/deleteBlog/{{id}}'">Eliminar</button>
                                      									</form>																	</li>
															</ul>
															<ul class="social-links">
																	<li>
																			<a href="#">
																					<i class="fab fa-facebook-f"></i>
																			</a>
																	</li>
																	<li>
																			<a href="#">
																				<i class="fab fa-twitter"></i>																				
																			</a>
																	</li>
																	<li>
																			<a href="#">
																				<i class="fab fa-github"></i>																				
																			</a>
																	</li>
																	<li>
																			<a href="#">
																				<i class="fab fa-behance"></i>																				
																			</a>
																	</li>
															</ul>
													</div>
											</div>
											<div class="col-lg-9 col-md-9 blog_details">
													<h2>{{name}}</h2>
													<p class="excert">
															Modelo figura 235 Levi Ackerman.
													</p>
													<p>		{{text}}
															<!-- ¡Buenos días gente! Hoy empezamos la mañana con buenas noticias, y es que gracias a Funko Pop!
															ya que hoy acaba de lanzar una nueva figura, y esta vez para los amantes del anime Attack on Titans.
															No hablamos ni más ni menos que de Levi Ackerman, adorado por todos los fans de la serie.
													</p>
													<p>
															Hemos podido hacernos con una copia de ella por parte de Funko Pop! y tenemos que deciros que tiene
															un detalle que rara vez apreciamos en este tipo de figuras, se ve increíble. Si eres fan de la serie
															y del personaje, simplemente no te arrepentiras de comprarla que si no que será una de tus figuras favoritas.
															Si quieres hacerte con ella puedes comprarla en la web, donde ya se encuentra disponible. ¡Date prisa!
															
													<p>-->	<a class="active" href="single-product.html">Link de comprar</a>
													</p>
													</p>
											</div>
											<div class="col-lg-12">
													<!-- <div class="quotes">
														#funko #anime #leviackerman #attackontitans #imprescindible #dadmevuestrosdollars
													</div> -->
													<div class="row">
															<div class="col-6">
																	<img class="img-fluid" src="../img/product/levi.jpg" alt="">
															</div>
															<div class="col-6">
																	<img class="img-fluid" src="../img/product/levimin.png" alt="">
															</div>
															<!-- <div class="col-lg-12 mt-4">
																	<p>
																		#Descripción imágenes#
																	</p>
															</div>> -->
													</div>
											</div>
									</div>
									<div class="navigation-area">
											<div class="row">
													<div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
															<div class="thumb">
																	<a href="#">
																			<img class="img-fluid" src="img/blog/prev.jpg" alt="">
																	</a>
															</div>
															<div class="arrow">
																	<a href="#">
																			<span class="lnr text-white lnr-arrow-left"></span>
																	</a>
															</div>
															<div class="detials">
																	<p>Post anterior</p>
																	<a href="#">
																			<h4>Otra noticia</h4>
																	</a>
															</div>
													</div>
													<div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
															<div class="detials">
																	<p>Siguente Post</p>
																	<a href="#">
																			<h4>Otra noticia</h4>
																	</a>
															</div>
															<div class="arrow">
																	<a href="#">
																			<span class="lnr text-white lnr-arrow-right"></span>
																	</a>
															</div>
															<div class="thumb">
																	<a href="#">
																			<img class="img-fluid" src="img/blog/next.jpg" alt="">
																	</a>
															</div>
													</div>
											</div>
									</div>
									<!-- <div class="comments-area">
											<h4>05 Comentarios</h4>
											<div class="comment-list">
													<div class="single-comment justify-content-between d-flex">
															<div class="user justify-content-between d-flex">
																	<div class="thumb">
																			<img src="img/blog/c1.jpg" alt="">
																	</div>
																	<div class="desc">
																			<h5>
																					<a href="#">Emilly Blunt</a>
																			</h5>
																			<p class="date">4 de Diciembre, 2017 a las 15:12</p>
																			<p class="comment">
																					A ver si palma Usopp ya.
																			</p>
																	</div>
															</div>
															<div class="reply-btn">
																	<a href="#" class="btn-reply text-uppercase">Responder</a>
															</div>
													</div>
											</div>
											<div class="comment-list left-padding">
													<div class="single-comment justify-content-between d-flex">
															<div class="user justify-content-between d-flex">
																	<div class="thumb">
																			<img src="img/blog/c2.jpg" alt="">
																	</div>
																	<div class="desc">
																			<h5>
																					<a href="#">Elsie Cunningham</a>
																			</h5>
																			<p class="date">4 de Diciembre, 2017 a las 15:12</p>
																			<p class="comment">
																					Algo algo.
																			</p>
																	</div>
															</div>
															<div class="reply-btn">
																	<a href="#" class="btn-reply text-uppercase">Responder</a>
															</div>
													</div>
											</div>
											<div class="comment-list left-padding">
													<div class="single-comment justify-content-between d-flex">
															<div class="user justify-content-between d-flex">
																	<div class="thumb">
																			<img src="img/blog/c3.jpg" alt="">
																	</div>
																	<div class="desc">
																			<h5>
																					<a href="#">Annie Stephens</a>
																			</h5>
																			<p class="date">4 de Diciembre, 2017 a las 15:12</p>
																			<p class="comment">
																					Never say goodbye till the end comes!
																			</p>
																	</div>
															</div>
															<div class="reply-btn">
																	<a href="#" class="btn-reply text-uppercase">Responder</a>
															</div>
													</div>
											</div>
											<div class="comment-list">
													<div class="single-comment justify-content-between d-flex">
															<div class="user justify-content-between d-flex">
																	<div class="thumb">
																			<img src="img/blog/c4.jpg" alt="">
																	</div>
																	<div class="desc">
																			<h5>
																					<a href="#">Maria Luna</a>
																			</h5>
																			<p class="date">4 de Diciembre, 2017 a las 15:12</p>
																			<p class="comment">
																					Never say goodbye till the end comes!
																			</p>
																	</div>
															</div>
															<div class="reply-btn">
																	<a href="#" class="btn-reply text-uppercase">Responder</a>
															</div>
													</div>
											</div>
											<div class="comment-list">
													<div class="single-comment justify-content-between d-flex">
															<div class="user justify-content-between d-flex">
																	<div class="thumb">
																			<img src="img/blog/c5.jpg" alt="">
																	</div>
																	<div class="desc">
																			<h5>
																					<a href="#">Ina Hayes</a>
																			</h5>
																			<p class="date">4 de Diciembre, 2017 a las 15:12</p>
																			<p class="comment">
																					Never say goodbye till the end comes!
																			</p>
																	</div>
															</div>
															<div class="reply-btn">
																	<a href="#" class="btn-reply text-uppercase">Responder</a>
															</div>
													</div>
											</div>
									</div> -->
									<!-- <div class="comment-form">
											<h4>Deja un comentario</h4>
											<form id="blog-comment">
													<div class="form-group form-inline">
															<div class="form-group col-lg-6 col-md-6 name">
																	<input type="text" class="form-control" id="name" placeholder="Nombre" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nombre'" required>
															</div>
															<div class="form-group col-lg-6 col-md-6 email">
																	<input type="email" class="form-control" id="email" placeholder="E-mail" onfocus="this.placeholder = ''" onblur="this.placeholder = 'E-mail'" required>
															</div>
													</div>
													<div class="form-group">
															<input type="text" class="form-control" id="subject" placeholder="Asunto" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Asunto'" required>
													</div>
													<div class="form-group">
															<textarea class="form-control mb-10" rows="5" name="message" placeholder="Mensaje" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Mensaje'"
																	required=""></textarea>
													</div>
													<button class="button button-postComment button--active" type="submit" form="blog-comment">Publicar comentario</button>
											</form>
									</div> -->
							</div>
							<div class="col-lg-4">
									<div class="blog_right_sidebar">
											<aside class="single_sidebar_widget search_widget">
													<div class="input-group">
															<input type="text" class="form-control" placeholder="Search Posts">
															<span class="input-group-btn">
																	<button class="btn btn-default" type="button">
																			<i class="lnr lnr-magnifier"></i>
																	</button>
															</span>
													</div>
													<!-- /input-group -->
													<div class="br"></div>
											</aside>
											<aside class="single_sidebar_widget author_widget">
													<img class="author_img rounded-circle" src="img/blog/author.png" alt="">
													<h4>Charlie Barber</h4>
													<p>Redactor en Anime Shop</p>
													<div class="social_icon">
                              <a href="#">
                                  <i class="fab fa-facebook-f"></i>
                              </a>
                              <a href="#">
                                  <i class="fab fa-twitter"></i>
                              </a>
                              <a href="#">
                                  <i class="fab fa-github"></i>
                              </a>
                              <a href="#">
                                <i class="fab fa-behance"></i>
                              </a>
                          </div>
													<p>Redactor, estudiante de Ingeniería del Software y entusiaste del anime, manga, collecionables
														y todo lo relacionado con ello.
													</p>
													<div class="br"></div>
											</aside>
											<aside class="single_sidebar_widget popular_post_widget">
													<h3 class="widget_title">Posts populares</h3>
													{{#popularblogs}}
													<div class="media post_item">
															<img src="{{image}}" width="100" height="60" alt="post">
															<div class="media-body">
																	<a href="blog/{{id}}">
																			<h3>{{name}}</h3>
																	</a>
																	<p>{{day}}/{{month}}/{{year}}</p>
															</div>
													</div>
													{{/popularblogs}}
													<!-- <div class="media post_item">
															<img src="img/blog/popular-post/post2.jpg" alt="post">
															<div class="media-body">
																	<a href="blog-details.html">
																			<h3>Zoro se convierte en el espadachín más fuerte</h3>
																	</a>
																	<p>Hace 2 horas</p>
															</div>
													</div>
													<div class="media post_item">
															<img src="img/blog/popular-post/post3.jpg" alt="post">
															<div class="media-body">
																	<a href="blog-details.html">
																			<h3> encuentra el All Blue</h3>
																	</a>
																	<p>Hace 3 horas</p>
															</div>
													</div>
													<div class="media post_item">
															<img src="img/blog/popular-post/post4.jpg" alt="post">
															<div class="media-body">
																	<a href="blog-details.html">
																			<h3>Shingeki no Kyojin estrena un capítulo con una puntuación de 10/10</h3>
																	</a>
																	<p>Hace 1 hora</p>
															</div>
													</div> -->
													<div class="br"></div>
											</aside>
											<!-- <aside class="single_sidebar_widget ads_widget">
													<a href="#">
															<img class="img-fluid" src="img/blog/add.jpg" alt="">
													</a>
													<div class="br"></div>
											</aside> -->
											<aside class="single_sidebar_widget post_category_widget">
													<h4 class="widget_title">Categorías</h4>
													<ul class="list cat-list">
															<li>
																	<a href="#" class="d-flex justify-content-between">
																			<p>Nuevos lanzamientos</p>
																			<p>37</p>
																	</a>
															</li>
															<li>
																	<a href="#" class="d-flex justify-content-between">
																			<p>En descuento</p>
																			<p>24</p>
																	</a>
															</li>
															<li>
																	<a href="#" class="d-flex justify-content-between">
																			<p>Anime</p>
																			<p>59</p>
																	</a>
															</li>
															<li>
																	<a href="#" class="d-flex justify-content-between">
																			<p>Manga</p>
																			<p>29</p>
																	</a>
															</li>
															<li>
																	<a href="#" class="d-flex justify-content-between">
																			<p>Videojuegos</p>
																			<p>15</p>
																	</a>
															</li>
															<li>
																	<a href="#" class="d-flex justify-content-between">
																			<p>Películas</p>
																			<p>09</p>
																	</a>
															</li>
															<li>
																	<a href="#" class="d-flex justify-content-between">
																			<p>Merchandising</p>
																			<p>44</p>
																	</a>
															</li>
													</ul>
													<div class="br"></div>
											</aside>
											<aside class="single-sidebar-widget newsletter_widget">
													<h4 class="widget_title">Boletín informativo</h4>
													<p>
														Suscríbete para estar al día de todas las novedades y noticias.
													</p>
													<div class="form-group d-flex flex-row">
															<div class="input-group">
																	<div class="input-group-prepend">
																			<div class="input-group-text">
																					<i class="fa fa-envelope" aria-hidden="true"></i>
																			</div>
																	</div>
																	<input type="text" class="form-control" id="inlineFormInputGroup" placeholder="E-mail" onfocus="this.placeholder = ''"
																			onblur="this.placeholder = 'Enter email'">
															</div>
															<a href="#" class="bbtns">Subcribirse</a>
													</div>
													<p class="text-bottom">Puedes cancelar tu suscripción cuando quieras.</p>
													<div class="br"></div>
											</aside>
											<aside class="single-sidebar-widget tag_cloud_widget">
													<h4 class="widget_title">Nube de Tags</h4>
													<ul class="list">
														<li>
															<a href="#">Anime</a>
														</li>
														<li>
															<a href="#">Manga</a>
														</li>
														<li>
															<a href="#">Nuevos lanzamientos</a>
														</li>
														<li>
															<a href="#">Merchandising</a>
														</li>
														<li>
															<a href="#">Videojuegos</a>
														</li>
														<li>
															<a href="#">Películas</a>
														</li>
														<li>
															<a href="#">En descuento</a>
														</li>
														<!-- <li>
															<a href="#">Art</a>
														</li>
														<li>
															<a href="#">Adventure</a>
														</li>
														<li>
															<a href="#">Food</a>
														</li>
														<li>
															<a href="#">Lifestyle</a>
														</li>
														<li>
															<a href="#">Adventure</a>
														</li> -->
													</ul>
											</aside>
									</div>
							</div>
					</div>
			</div>
	</section>
	{{/blog}}
	<!--================Blog Area =================-->
{{>footer}}