{{>header}}
<meta charset="UTF-8">
    <!--================ Hero banner start =================-->
    <section class="hero-banner">
      <div class="container">
        <div class="row no-gutters align-items-center pt-60px">
          <div class="col-5 d-none d-sm-block">
            <div class="hero-banner__img">
              <img class="img-fluid" src="img/user/login.jpg" alt="">
            </div>
          </div>
          <div class="col-sm-7 col-lg-6 offset-lg-1 pl-4 pl-md-5 pl-lg-0">
            <div class="hero-banner__content">
              <h4>Alex Turner</h4>
              <h5>Dirección de facturación:</h5>
              <h6 style="margin-bottom: 30px;">One Apple Park Way, Cupertino, CA 95014, Estados Unidos</h6>
              <h5>Dirección de entrega:</h5>
              <h6 style="margin-bottom: 30px;">One Apple Park Way, Cupertino, CA 95014, Estados Unidos</h6>
              <h5>Mis métodos de pago:</h5>
              <h6 id="payment" style="margin-bottom: 30px;">VISA que termina en 7694</h6>

              <div class="row">
                <div class="column">
                  <a class="button button-hero" href="#" style="margin-right: 30px;">Mis pedidos</a>
                </div>

                <div class="column">
                  <a class="button button-hero" href="user-edit.html">Editar información</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ Hero banner start =================-->
 {{>footer}}