{{>header}}

    <main class="site-main">

        <!--================ Hero banner start =================-->
        <section class="hero-banner">
            <div class="container">
                <div class="row no-gutters align-items-center pt-60px">
                    <div class="col-5 d-none d-sm-block">
                        <div class="hero-banner__img">
                            <img class="img-fluid" src="img/user/login.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-sm-7 col-lg-6 offset-lg-1 pl-4 pl-md-5 pl-lg-0">
                        <div class="hero-banner__content">
                            <h4>Alex Turner</h4>
                            <input type="text" id="newname" size="50" style="margin-bottom: 30px;"
                                placeholder="Nuevo nombre">
                            <h5>Dirección de facturación:</h5>
                            <h6>One Apple Park Way, Cupertino, CA 95014, Estados Unidos</h6>
                            <input type="text" id="newfact" size="50" style="margin-bottom: 30px;"
                                placeholder="Nueva dirección de facturación">
                            <h5>Dirección de entrega:</h5>
                            <h6>One Apple Park Way, Cupertino, CA 95014, Estados Unidos</h6>
                            <input type="text" id="newent" size="50" style="margin-bottom: 30px;"
                                placeholder="Nueva dirección de entrega">
                            <h4>Cuenta</h4>
                            <h5>Dirección de e-mail:</h5>
                            <h6>alexturner@gmail.com</h6>
                            <input type="text" id="newemail" size="50" style="margin-bottom: 30px;"
                                placeholder="Nueva dirección de e-mail">
                            <h5>Contraseña:</h5>
                            <input type="password" id="newpass" size="50" name="contraseña" style="margin-bottom: 30px;"
                                placeholder="Nueva contraseña">
                            <input type="password" id="newpass" size="50" name="contraseña" style="margin-bottom: 30px;"
                                placeholder="Repita la nueva contraseña">

                            <div class="row">
                                <a class="button button-hero" href="user-page.html">Listo</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================ Hero banner start =================-->


{{>footer}}