.add-blog {
	padding: 7.5px 15px;
	background: #ffffff;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	margin-right: 10px;
	z-index: 1;
	border-color: #AAAAAA;
	border: 1px solid #eee;
	font-size: 14px;
}

.blog-banner {
	position: relative
}

.blog-banner h4,
.blog-banner h1,
.blog-banner a {
	text-transform: capitalize;
	color: #fff
}

.blog-banner h4 {
	font-size: 18px;
	margin-bottom: 15px
}

.blog-banner h1 {
	font-size: 30px;
	margin-bottom: 10px;
	color: #222
}

@media (min-width: 992px) {
	.blog-banner h1 {
		font-size: 36px
	}
}

.blog-banner-area {
	height: 280px;
	position: relative;
	z-index: 1
}

@media (min-width: 1000px) {
	.blog-banner-area {
		height: 410px
	}
}

.blog-banner-area .blog-banner {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, -50%)
}

.blog-banner-area::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #f1f6f7;
	z-index: -1
}

.blog-banner-btn {
	border: 2px solid #384aeb;
	padding: 10px 45px
}

.blog-banner-btn:hover {
	background: #384aeb;
	color: #fff
}

.banner-breadcrumb {
	display: inline-block
}

.banner-breadcrumb .breadcrumb {
	background: transparent;
	padding: 0
}

.banner-breadcrumb .breadcrumb-item {
	padding: .1rem
}

.banner-breadcrumb .breadcrumb-item a {
	text-transform: capitalize;
	color: #777777
}

.banner-breadcrumb .breadcrumb-item+.breadcrumb-item::before {
	color: #777777;
	padding-right: .1rem;
	content: "-"
}

.blog_area {
    padding-bottom: 80px
}

.submit-blog {
	border: none;
	border-radius: 4px;
	padding: 7.5px 15px;
	background: #6371ef;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	margin-right: 10px;
	z-index: 1
}

.navbar .container {
    padding-left: 15px;
    padding-right: 15px
}

.header_area+section,
	.header_area+row,
	.header_area+div {
		margin-top: 0px;
		padding-top: 71px
    }
    
.single-post-area .arrow {
    position: absolute
}

.blog_item {
	margin-bottom: 40px
}

.blog_info.text-right {
    text-align: left !important;
    margin-bottom: 10px
}

.blog_info .post_tag {
	padding-bottom: 20px
}

.blog_info .post_tag a {
	color: #222;
	font-size: 14px
}

.blog_info .post_tag a.active {
	color: #384aeb
}

.blog_right_sidebar {
	border: 1px solid #eeeeee;
	background: #fafaff;
	padding: 30px
}

.blog_right_sidebar .widget_title {
	font-size: 18px;
	line-height: 25px;
	background: #384aeb;
	text-align: center;
	color: #fff;
	padding: 8px 0px;
	margin-bottom: 30px
}

.blog_right_sidebar .search_widget .input-group .form-control {
	font-size: 14px;
	line-height: 29px;
	border: 0px;
	width: 100%;
	font-weight: 300;
	color: #fff;
	padding-left: 20px;
	border-radius: 45px;
	z-index: 0;
	background: #384aeb
}

.blog_right_sidebar .search_widget .input-group .form-control.placeholder {
	color: #fff
}

.blog_right_sidebar .search_widget .input-group .form-control:-moz-placeholder {
	color: #fff
}

.blog_right_sidebar .search_widget .input-group .form-control::-moz-placeholder {
	color: #fff
}

.blog_right_sidebar .search_widget .input-group .form-control::-webkit-input-placeholder {
	color: #fff
}

.blog_right_sidebar .search_widget .input-group .form-control:focus {
	box-shadow: none
}

.blog_right_sidebar .search_widget .input-group .btn-default {
	position: absolute;
	right: 20px;
	background: transparent;
	border: 0px;
	box-shadow: none;
	font-size: 14px;
	color: #fff;
	padding: 0px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1
}

.blog_right_sidebar .popular_post_widget .post_item .media-body {
	justify-content: center;
	align-self: center;
	padding-left: 20px
}

.blog_right_sidebar .popular_post_widget .post_item .media-body h3 {
	font-size: 14px;
	line-height: 20px;
	color: #222;
	margin-bottom: 4px;
	transition: all 0.3s linear
}

.blog_right_sidebar .popular_post_widget .post_item .media-body h3:hover {
	color: #384aeb
}

.blog_right_sidebar .popular_post_widget .post_item .media-body p {
	font-size: 12px;
	line-height: 21px;
	margin-bottom: 0px
}

.blog_right_sidebar .popular_post_widget .post_item+.post_item {
	margin-top: 20px
}

.blog_right_sidebar .post_category_widget .cat-list li {
	border-bottom: 2px dotted #eee;
	transition: all 0.3s ease 0s;
	padding-bottom: 12px
}

.blog_right_sidebar .post_category_widget .cat-list li a {
	font-size: 14px;
	line-height: 20px;
	color: #777
}

.blog_right_sidebar .post_category_widget .cat-list li a p {
	margin-bottom: 0px
}

.blog_right_sidebar .post_category_widget .cat-list li+li {
	padding-top: 15px
}

.blog_right_sidebar .post_category_widget .cat-list li:hover {
	border-color: #384aeb
}

.blog_right_sidebar .post_category_widget .cat-list li:hover a {
	color: #384aeb
}

.card-blog__title a {
	color: #222;
	font-weight: 750;
	font-size: 13px;
	letter-spacing: -0.5px;
}

.card-blog:hover .card-blog__title a {
	color: #384aeb;
	text-decoration: none;
}

.blog_details {
	padding-top: 20px;
}

.blog_details a {
	font-size: 20px;
	line-height: 42px;
	color: #222;
	font-weight: bold;
	transition: all 0.3s linear;
}

.blog_details a:hover {
	color: #384aeb;
	text-decoration: none;
}

.blog_details p {
	margin-bottom: 26px;
}

.button-blog {
	padding: 0px 31px;
	font-size: 14px;
	background: #f9f9ff;
	border-color: #EEEEEE;
	border-radius: 0;
	color: #222
}

.button-blog:hover {
	background: #384aeb !important;
	color: #fff !important
}

::ng-deep .mat-flat-button.blog{
    height:40px !important;
    width:115px !important;
    font-size:14px !important;
}

::ng-deep .mat-flat-button.blog:hover{
    background: #384aeb !important;
	color: #fff !important
}

::ng-deep .mat-flat-button.blog-tittle:hover{
	background: none;
}

.blog_right_sidebar .br {
	width: 100%;
	height: 1px;
	background: #eee;
	margin: 30px 0px;
	margin-bottom: 10px;
}

.blog_right_sidebar .search_widget .input-group .btn-default {
	position: absolute;
	right: 20px;
	background: transparent;
	border: 0px;
	box-shadow: none;
	font-size: 14px;
	color: #fff;
	padding: 0px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1
}

::ng-deep .mat-card{
	border-style:  none !important;
	box-shadow: none !important;
}

.remove-single-blog {
	border: none;
	border-radius: 4px;
	padding: 7.5px 12px;
	background: #ff8888;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	margin-right: 10px;
	z-index: 1
}

.remove-single-blog:hover {
	background: #fff;
	box-shadow: 0px 10px 20px 0px rgba(153, 153, 153, 0.3)
}

.remove-single-blog:hover:after {
	opacity: 1;
	visibility: visible
}

.remove-single-blog{
	color: rgba(255, 255, 255, 0.945);
}

.remove-single-blog:hover {
	border: none;
	border-radius: 4px;
	background: #eb3838;
}

.single-blog-button{
	width: 90px;
	height: 40px;
	border-radius: 5px;
	padding: 0px 5px;
}

.add-product {
	padding: 4px 12px;
	background: #706dfd;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	margin-right: 10px;
	z-index: 1;
	border-color: #AAAAAA;
	border: 1px solid #eee;
}

.add-product:hover {
	background: #fff;
	box-shadow: 0px 10px 20px 0px rgba(153, 153, 153, 0.3)
}

.add-product:hover:after {
	opacity: 1;
	visibility: visible
}

.add-product{
	color: rgba(255, 255, 255, 0.945);
}

.add-product:hover {
	border: 1px solid #eee;
	border-radius: 5px;
	background: #3c39ff;
	color: #fff;
}