<meta charset="UTF-8">
<!-- ================ start banner area ================= -->
<mat-card class="blog-banner-area" id="blog">
    <img src="assets/banner/tokyo ghoul.png" style="float:left;width:100%;height:100%;object-fit:cover;opacity: 0.3;">
    <div class="container h-100">
        <div class="blog-banner">
            <div class="text-center">
                <h1>Nuestro Blog</h1>
                <nav aria-label="breadcrumb" class="banner-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Blog</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</mat-card>
<!-- ================ end banner area ================= -->
<!--================Blog Area =================-->
<mat-card class="blog_area">
    <div class="container" style="padding-top: 30px;">
        <div *ngIf="loginService.isAdmin">
            <button mat-button class="add-product" (click)="openVerticallyCentered(content)">Añadir blog</button>
            <ng-template #content let-modal>
                <div class="modal-header">
                    <h4 class="modal-title">Nuevo blog</h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-row mb-4">
                        <label class="col-form-label">Nombre:</label>
                        <input matInput type="text" class="form-control" name="name" required
                            [(ngModel)]="newblog.name">
                        <label class="col-form-label">Autor:</label>
                        <input matInput type="text" class="form-control" name="author" required
                            [(ngModel)]="newblog.author">
                        <div class="col">
                            <label class="col-form-label">Texto:</label>
                            <textarea matInput class="form-control" name="text" required
                                [(ngModel)]="newblog.text"></textarea>
                        </div>
                        <div class="col">
                            <label class="col-form-label">Texto completo:</label>
                            <textarea matInput class="form-control" name="textfull" required
                                [(ngModel)]="newblog.textfull"></textarea>
                        </div>
                    </div>
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-outline-primary" id="dropdownBasic1"
                            ngbDropdownToggle>Productos:</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <div *ngFor="let product of products">
                                <button ngbDropdownItem>ID: [{{product.id}}] - {{product.name}}</button>
                            </div>
                        </div>
                    </div><br>
                    <label class="col-form-label">ID de producto relacionado:</label>
                    <input class="form-control" name="idproduct" required [(ngModel)]="newblog.product.id">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="submit-blog" form="newBlog" (click)="saveBlog()"
                        (click)="modal.close('Close click')">Enviar</button>
                    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cerrar</button>
                </div>
            </ng-template>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="blog_left_sidebar">
                    <!--{{#blogspage}}-->
                    <div *ngFor="let blogitem of blog">
                        <article class="row blog_item">
                            <div class="col-md-3">
                                <div class="blog_info text-right">
                                    <div class="post_tag">
                                        <a>Noticias, </a><br>
                                        <!-- <a class="active" href="/products">
                                            {{blog[0].franchise}}</a> -->
                                        <a class="active">{{blogitem.product.franchise}}, </a><br>
                                        <a>Nueva figura</a>
                                    </div>
                                    <ul class="blog_meta list">
                                        <li>
                                            <mat-icon>face</mat-icon>
                                            <a>{{blogitem.author}}</a>
                                        </li>
                                        <li>
                                            <mat-icon>calendar_today</mat-icon>
                                            <a>{{blogitem.day}}/{{blogitem.month}}/{{blogitem.year}}</a>
                                        </li>
                                        <li>
                                            <div *ngIf="loginService.isAdmin">
                                                <button mat-button class="remove-single-blog single-blog-button"
                                                    (click)="delete(blogitem)">Eliminar</button>
                                            </div>
                                        </li>
                                        
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="blog_post">
                                    <img *ngIf="blogitem.image" src="assets{{blogitem.image}}" width="550" height="270">
                                    <div class="blog_details">
                                        <h2>
                                            <a class="blog-tittle"
                                                [routerLink]="['/singleBlog', blogitem.id]">{{blogitem.name}}</a>
                                            <!--<a mat-flat-button class="blog-tittle"[routerLink]="['/singleBlog', blogitem.id]">{{blogitem.name}}</a>-->
                                        </h2>
                                        <p>{{blogitem.text}}</p>
                                        <a mat-flat-button class="button button-blog blog"
                                            [routerLink]="['/singleBlog', blogitem.id]">Ver
                                            más</a>
                                    </div>
                                </div>
                            </div>

                        </article>
                    </div>
                    <!--{{/blogspage}}-->
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget search_widget" style="padding-bottom: 20px;">
                        <div class="input-group">
                            <input #key #keyControl="ngModel" class="form-control" type="text" [(ngModel)]="key.value"
                                placeholder="Buscar" (keydown.enter)="search(key.value)">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="lnr lnr-magnifier"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                        <div class="br"></div>
                    </aside>
                    <aside class="single_sidebar_widget popular_post_widget">
                        <h3 class="widget_title">Posts populares</h3>
                        <!--{{#blogspage}}-->
                        <div *ngFor="let blogitem of blog">
                            <div class="media post_item card-blog">
                                <img *ngIf="blogitem.image" src="assets{{blogitem.image}}" width="100" height="50"
                                    alt="post">
                                <div class="media-body">
                                    <h3 class="card-blog__title"><a
                                            [routerLink]="['/singleBlog', blogitem.id]">{{blogitem.name}}</a></h3>
                                    <p></p>
                                    <br>
                                    <!--{{day}}/{{month}}/{{year}}-->
                                </div>
                            </div>
                        </div>
                        <!--{{/blogspage}}-->
                        <div class="br"></div>
                    </aside>
                </div>
            </div>
        </div>
        <nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
            </ol>
        </nav>
    </div>

</mat-card>
<!--================Blog Area =================-->