<html>
<header class="header_area">
  <div class="main_menu">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand logo_h" href="/"><img src="/img/shop-logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
          <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
            <li class="nav-item"><a class="nav-link" [routerLink]="['/']">Inicio</a></li>
            <li class="nav-item"><a class="nav-link"  [routerLink]="['/product']">Comprar</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/blog']">Blog</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/order']">Carrito</a></li>
            <!--<li class="nav-item submenu dropdown">-->
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                aria-expanded="false">Usuarios</a>
                <!--<ul class="dropdown-menu">-->
                <div *ngIf="!service.isLogged">
                <li class="nav-item"><a class="nav-link" [routerLink]="['/login']">Iniciar sesión</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['/register']">Registrarse</a></li>
                </div>
              <div *ngIf="service.isLogged">
                <div>
                  <form action="/logout" method="post">
                    <li class="nav-item"><a href="/"></a><button (click)="logOut()" class="nav-link" href="/">Cerrar sesión</button></li>
                  </form>
                </div>
                <!-- <li class="nav-item"><a class="nav-link" href="/trackingOrder">Seguimiento</a></li> -->
                <li class="nav-item"><a class="nav-link" [routerLink]="['/userPage', user.id]">Mi perfil</a></li>
              </div>
            </ul>
            <!--</li>-->
            <!-- <li class="nav-item"><a class="nav-link" href="contact">Contacto</a></li> -->
          <!--</ul>-->

          <ul class="nav-shop">
            <!-- <li class="nav-item"><button><i class="ti-search"></i></button></li> -->
            <!--{{#cartSize}}
            <li class="nav-item"><button onclick="location.href='/shoppingCart'"><i class="ti-shopping-cart"></i><span class="nav-shop__circle">{{cartSize}}</span></button> </li>
            {{/cartSize}}
            <li class="nav-item"><a class="button button-header" href="/products">Comprar ahora</a></li>-->
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
</html>
