{{>header}}
  <meta charset="UTF-8">
  <!-- ================ start banner area ================= -->	
	<section class="blog-banner-area" id="category">
		<img src="img/banner/black-clover.png" style="float:left;width:100%;height:100%;object-fit:cover;opacity: 0.3;">
		<div class="container h-100">
			<div class="blog-banner">
				<div class="text-center">
					<h1>Registro</h1>
					<nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Inicio</a></li>
              <li class="breadcrumb-item active" aria-current="page">Registro</li>
            </ol>
          </nav>
				</div>
			</div>
    </div>
	</section>
	<!-- ================ end banner area ================= -->
  
  <!--================Login Box Area =================-->
	<section class="login_box_area section-margin">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<div class="hover">
							<h4>¿Ya tienes una cuenta?</h4>
							<p>Tenemos un montón de figuritas y accesorios exclusivos que podrían interesarte</p>
							<a class="button button-account" href="/login">Inicar sesión</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner register_form_inner">
						<h3>Crear una cuenta</h3>
						<form class="row login_form" action="/register" id="register_form" method="POST" >
							{{^exists}}
							<div class="col-md-12 form-group">
								<input type="text" class="form-control" id="name" name="name" placeholder="Usuario" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'">
							</div>
							{{/exists}}
							{{#exists}}
								<div class="col-md-12 form-group">
								<input type="text" class="form-control is-invalid" id="name" name="name" placeholder="Este usuario ya existe" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Este usuario ya existe'">
							</div>
        					{{/exists}}
							<div class="col-md-12 form-group">
								<input type="email" class="form-control" id="email" name="email" placeholder="Correo electrónico" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'">
							</div>
              				<div class="col-md-12 form-group">
								<input type="password" class="form-control" id="password-edit" name="password" placeholder="Contraseña" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Contraseña'">
								<span data-toggle="#password-edit" class="fa fa-fw fa-eye field-icon toggle-password" onclick="showPass()"></span>
              				</div>
							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="button button-register w-100" >Registrarse</button>
								<input type="hidden" name="_csrf" value="{{token}}">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->
{{>footer}}